{% extends "adm_base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
    管理每日重大新闻
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>新闻资讯管理
            <small>管理员</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'tradingSystem:index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">管理员</li>
            <li class="active">新闻资讯管理</li>
        </ol>
    </section>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">新闻列表</h3>
            <div class="box-header ">
                {% comment %}

                <label for="college" style="color: red">学院：</label><select id="college" class="select2"
                                                                           style="width: 20%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_college %}
                    <option value="{{ item }}">{{ item }}
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="color: red">专业：</label><select id="major" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_major %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>入学年份：</label><select id="year" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_in_year %}
                    <option value="{{ item.in_year }}">{{ item.in_year }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endcomment %}
            </div>

            <div class="box-body">
                <table id="news_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>新闻ID</th>
                        <th>新闻标题</th>
                        <th>新闻摘要</th>
                        <th>发生时间</th>
                        <th>阅读次数</th>
                        <th>详情</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'tradingSystem:adm_news_detail' result.news_id %}">{{ result.news_id }}</a>
                            </td>
                            <td>{{ result.news_title }}</td>
                            <td>{{ result.content }}</td>
                            <td>{{ result.news_time }}</td>
                            <td>{{ result.read }}</td>
                            <td style="vertical-align: middle">
                                <a href="{% url 'tradingSystem:adm_news_detail' result.news_id %}">详情</a>
                            </td>
                            <td style="vertical-align: middle">
                                <a style="color: red" href="{% url 'tradingSystem:adm_delete_news' result.news_id %}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="btn-group pull-left ">
                <button id="add_btn" class="btn btn-success" type="button">
                    <span class="glyphicon glyphicon-plus">新建新闻信息</span>
                </button>
                <a class="pull-right" href="{% url 'tradingSystem:spy_news' %}"><button class="btn btn-info pull-right"><i class="fa fa-refresh fa-spin"></i>抓取一些新闻信息</button></a>
            </div>
        </div>

        <div class="modal fade" id="addForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'tradingSystem:adm_add_news' %}"  method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">添加新闻</h4>
                        </div>
                        <div class="modal-content" id="add_news_modal">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <label for="news_title" class="col-sm-2 control-label" style="color: red">新闻标题：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="news_title" class="form-control"
                                               name="news_title" placeholder="输入标题">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="news_content" class="col-sm-2 control-label">新闻内容：</label>
                                    <div class="col-sm-10">
                                        <textarea name="news_content" id="news_content" class="form-control" rows="10" placeholder="输入您的内容"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="center-block">
                                    <button id="cancelAdd" type="button" class="btn btn-default"
                                            data-dismiss="modal">取消
                                    </button>
                                    <button id="sureToAdd" type="submit" class="btn btn-success">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        {% comment %}
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var college = $('#college').val();
                var major = $('#major').val();
                var year = $('#year').val();
                return ((college === data[1] || college === "ALL") && (((major === data[2] || major === "ALL") && (year === data[3] || year === "ALL"))));
            }
        );
        {% endcomment %}

        $(document).ready(function () {
            var table = $('#news_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "新闻信息表",
                        },
                        {
                            extend: 'print',
                            filename: "新闻信息表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            // Event listener to the two range filtering inputs to redraw on input
            $('#major, #year, #college').change(function () {
                table.draw();
            });
            $('.select2').select2();

            $('.btn-danger').click(function () {
                var row = this.parentNode.parentNode;
                var index = row.rowIndex;
                var table = document.getElementById('news_table');
                table.deleteRow(index);
            });


           $('#add_btn').click(function () {
               $('#addForm').modal();
           });

        });
    </script>
{% endblock %}



