{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
    管理我的评论
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>评论信息管理
            <small>我</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'tradingSystem:index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">我</li>
            <li class="active">评论信息管理</li>
        </ol>
    </section>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">评论列表</h3>
            <div class="box-header ">
                {% comment %}

                <label for="college" style="color: red">学院：</label><select id="college" class="select2"
                                                                           style="width: 20%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_college %}
                    <option value="{{ item }}">{{ item }}
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="color: red">专业：</label><select id="major" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_major %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>入学年份：</label><select id="year" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_in_year %}
                    <option value="{{ item.in_year }}">{{ item.in_year }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endcomment %}
            </div>

            <div class="box-body">
                <table id="comment_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>评论股票</th>
                        <th>股票名称</th>
                        <th>评论标题</th>
                        <th>评论内容</th>
                        <th>评论时间</th>
                        <th>回复次数</th>
                        <th>操作</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td><a href="{% url 'tradingSystem:stock_info' result.stock_id %}">{{ result.stock_id }}</a></td>
                            <td>{{ result.stock_name }}</td>
                            <td>{{ result.title }}</td>
                            <td>{{ result.content }}</td>
                            <td>{{ result.comment_time }}</td>
                            <td>{{ result.reply_nums }}</td>
                            <td style="vertical-align: middle">
                                <a href="{% url 'tradingSystem:comment_detail' result.comment_id %}">详情</a>
                            </td>
                            <td style="vertical-align: middle">
                                <button class="btn btn-danger"><b>删除</b></button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% comment %}
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var college = $('#college').val();
                var major = $('#major').val();
                var year = $('#year').val();
                return ((college === data[1] || college === "ALL") && (((major === data[2] || major === "ALL") && (year === data[3] || year === "ALL"))));
            }
        );
        {% endcomment %}

        $(document).ready(function () {
            var table = $('#comment_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "股票信息表",
                        },
                        {
                            extend: 'print',
                            filename: "股票信息表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            // Event listener to the two range filtering inputs to redraw on input
            $('#major, #year, #college').change(function () {
                table.draw();
            });
            $('.select2').select2();

            $('.btn-danger').click(function () {
                var row = this.parentNode.parentNode;
                var index = row.rowIndex;
                var table = document.getElementById('comment_table');
                table.deleteRow(index);
            });

        });


    </script>
{% endblock %}


